doctype html
html
    head
        title Knowledgebase
        link(rel= "stylesheet" href='/bower_stuff/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href = '/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/') Node Prac
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/') Home 
                if user
                    li.nav-item.active
                        a.nav-link(href='/articles/add') Add Article
                    li.nav-item.active
                        a.nav-link(href='/map/get') Map
                form.form-inline.my-2.my-lg-0
                ul.nav.navbar-nav.navbar-right
                    if user 
                        li.nav-item-active
                            a.nav-link(href = '/users/logout') Logout
                    li.nav-item.active
                        a.nav-link(href='/users/register') Register
                    li.nav-item.active
                        a.nav-link(href='/users/login') Login

    

        .container
                != messages('message', locals)
                if errors   
                    each x, i in errors.array()
                        div(class='alert alert-danger') #{x.msg} for #{x.param}
                block content
                br
                hr
                footer
                    p Copyright &copy 2020
        script(src='/bower_stuff/jquery/dist/jquery.js')
        script(src='/bower_stuff/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
        